@import 'utils';

.img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 37px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-credit {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.header-div {
  position: relative;
  border-bottom: 1px solid #ededed;
}
