.more-button-sellify {
    position: fixed;
    top: 30px;
    right: 80px;
    padding: 0;
    background-color: transparent;
    border-style: none;   

    img.ex-more {
        position: fixed;
        width: 56px;
        height: 56px;
        z-index: 1000;
    }
}

.more-button-sellify.active {
    display: none;
}

// header section

.img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-close {
    display: block;
    width: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-credit {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.header-div {
    position: relative;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
